/* フッター */

footer{
  width: 100%;
<<<<<<< Updated upstream
  height: 40px;
=======
  padding: 10px;
>>>>>>> Stashed changes
  background-color:gray;
  color: white;
  text-align: center;
  padding: 7px;
  margin-top: auto;
}

