* {
  box-sizing: border-box;
}


header {
  height: 80px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
}

.heder_flex {
  display: flex;
  height:60px;
  align-items: center; 
  padding-left:4%;
}

.list_right{
  display: flex;
  justify-content: right;
  
}

