

.title-contents {
  width: 100vw;
  height: 500px;
  background-image: image-url('header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  font-size: 20px;
}

.service-title {
  font-size: 1.5em;
}

.service-explain {
  font-size: 1em;
  line-height: 40px;
}

//検索フォーム

.search_box{
  padding: 20px 4%;
  background-color:whitesmoke;
}

.search-form{
  padding: 10px;
}

//プラン

.inner {
  width: 1024px;
  margin: 0 auto;
 }

 .plan-contents { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.plan-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.plan-sentence{
  width: 50vh;
}

.plan-img-content {
  position: relative;
  margin-bottom: 16px;
}

.p.b-break{
  word-break: break-all;
}

.plan-img {
  width: 50vh;
  height: 40vh;
}


//詳細ページ

.input-box1{
 margin-top: 3px;
 padding-left: 10px;
 width: 80vw
}

.input-box2{
  margin-top: 3px;
  padding-left: 10px;
  width: 30vw
}

.search-btn{
  margin-top: 3px;
  padding: 2px;

}

.item-img-content {
  position: relative;
}

.item-box-img {
  height: 40vh;
  width: 80vw;
  object-fit: contain;
  margin-bottom: 20px;
}