.show-contents{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

.center {
  text-align: center;
}
.center * {
  margin-right: auto;
  margin-left: auto;
}



